name: trac_ik CI

on:
  pull_request:
  push:
    branches:
      - ros2

jobs:
  trac_ik-CI:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04]
        package: [trac_ik_lib, trac_ik_examples]
        ros_distribution: [foxy, galactic, rolling]
    steps:
      - uses: actions/checkout@v2.3.4

      - name: Setup ROS2
        uses: ros-tooling/setup-ros@v0.2
        with:
          use-ros2-testing: true
          required-ros-distributions: ${{ matrix.ros_distribution }}

      - name: Build and test trac_ik
        uses: ros-tooling/action-ros-ci@v0.2
        id: action_ros_ci
        with:
          package-name: ${{ matrix.package }}
          target-ros2-distro: ${{ matrix.ros_distribution }}

      - name: Upload Logs
        uses: actions/upload-artifact@v2
        with:
          name: colcon_logs
          path: ${{ steps.action_ros_ci.outputs.ros-workspace-directory-name }}/log
        if: always()
